[root@contrail-dr-kvm ~]# cat ks_new.cfg 
#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$pvukPZfI$mmUPpssvsDZf7gDZpYqPc1
# System language
lang en_US
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
firstboot --enable
# SELinux configuration
selinux --disabled

# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=static --device=eth0 --ip=192.168.x.x --netmask=255.255.255.224
network  --bootproto=static --device=eth1 --gateway=172.x.x.1 --ip=172.x.x.2 --nameserver=8.8.8.8 --netmask=255.255.255.0
#network  --bootproto=static --device=eth3 --ip=172.x.x.2 --netmask=255.255.255.0
# Reboot after installation
reboot
# System timezone
timezone America/Los_Angeles
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
zerombr 
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part / --size 50000
part swap --size 1000
part /boot --fstype="ext3" --size 1000
part /home --fstype="ext3" --size 48000
#part / --fstype="ext3" --size=50000 --ondisk=sda
